*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.organizational-chart a,.organizational-chart a:hover{
    color: #fff;
}

a:hover {
    text-decoration: none !important;
}
/*#wrapper {*/
/*    margin-left: auto;*/
/*    margin-right: auto;*/
/*    max-width: 80em;*/
/*}*/

#container {
    /*float: left;*/
    /*padding: 1em;*/
    width: 70%;
    background-color: #fff;
}
.structure-bg{
    background-color: #FBFCFE;
    margin-bottom: 100px !important;
    padding: 20px !important;
}
.page-title{
    font-family: 'PT Serif Bold', serif;
    font-size: 30px !important;
    color: #1B315C;

}

.structure-header{
    display: flex !important;
    width: 100%;
    align-items: flex-end;
    /* justify-content: center; */
    background-color: #FBFCFE !important;
}

.main-button{
    display: flex;
    align-items: center;
    font-family: 'Montserrat Regular', serif;
    font-weight: 700;
    line-height: 23px;
    font-size: 13px;
    padding: 10px 25px;
    background-color: #EEB13C;
    color: #fff;
    border: none;
    border-radius: 5px;
}


element.style {
    background-color: #65af72;
}
button:not(:disabled), [type="button"]:not(:disabled), [type="reset"]:not(:disabled), [type="submit"]:not(:disabled) {
    cursor: pointer;
}
.item {
    margin: 0 65px;
}
.green-button {
    display: flex;
    align-items: center;
    font-family: 'Montserrat Regular',serif;
    font-weight: 700;
    line-height: 29px;
    font-size: 16px;
    padding: 10px 25px;
    background-color: #002C52;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
}
/* .img{

} */
.rector-img{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background: url('../img/rector_2.png?v=2');
    width: 250px;
    min-height: 340px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
}
.rector-img .text{
    text-align: center;
    width: 75%;
    padding: 8px;
    background-color: #fff;
}
.rector-img .text .title{
    font-family: 'Montserrat Bold',serif;
    line-height: 16px;
    color: #901414;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

.rector-img .text .name{
    font-size: 15px;
    color: #002C52;
}
.item{
    margin: 0 65px;
}
.icon-1{
    margin-right: 25px;
    background: url('../icons/icon-1.png');
    background-position: center;
    background-size: cover;
    display: block !important;
    height: 40px;
    width: 40px;
    
}

ol.organizational-chart,
ol.organizational-chart ol,
ol.organizational-chart li,
ol.organizational-chart li > div {
    position: relative;
}

ol.organizational-chart,
ol.organizational-chart ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol.organizational-chart {
    text-align: center;
}

ol.organizational-chart ol {
    padding-top: 1em;
}

ol.organizational-chart ol:before,
ol.organizational-chart ol:after,
ol.organizational-chart li:before,
ol.organizational-chart li:after,
ol.organizational-chart > li > div:before,
ol.organizational-chart > li > div:after {
    background-color: #b7a6aa;
    content: '';
    position: absolute;
}

ol.organizational-chart ol > li {
    padding: 1em 0 0 1em;
}

ol.organizational-chart > li ol:before {
    height: 1em;
    left: 50%;
    top: 0;
    width: 3px;
}

ol.organizational-chart > li ol:after {
    height: 3px;
    left: 3px;
    top: 1em;
    width: 50%;
}

ol.organizational-chart > li ol > li:not(:last-of-type):before {
    height: 3px;
    left: 0;
    top: 2em;
    width: 1em;
}

ol.organizational-chart > li ol > li:not(:last-of-type):after {
    height: 100%;
    left: 0;
    top: 0;
    width: 3px;
}

ol.organizational-chart > li ol > li:last-of-type:before {
    height: 3px;
    left: 0;
    top: 2em;
    width: 1em;
}

ol.organizational-chart > li ol > li:last-of-type:after {
    height: 2em;
    left: 0;
    top: 0;
    width: 3px;
}

ol.organizational-chart li > div {
    background-color: #fff;
    border-radius: 5px;
    min-height: 2em;
}

/*** PRIMARY ***/
ol.organizational-chart > li > div {
    background-color: green;
    margin-right: 1em;
}

ol.organizational-chart > li > div:before {
    bottom: 2em;
    height: 3px;
    right: -1em;
    width: 1em;
}

ol.organizational-chart > li > div:first-of-type:after {
    bottom: 0;
    height: 2em;
    right: -1em;
    width: 3px;
}

ol.organizational-chart > li > div + div {
    margin-top: 1em;
}

ol.organizational-chart > li > div + div:after {
    height: calc(100% + 1em);
    right: -1em;
    top: -1em;
    width: 3px;
}

/*** SECONDARY ***/
ol.organizational-chart > li > ol:before {
    left: inherit;
    right: 0;
}

ol.organizational-chart > li > ol:after {
    left: 0;
    width: 100%;
}

ol.organizational-chart > li > ol > li > div {
    background-color: #002C52;

  
}
ol.organizational-chart > li > ol > li > div h2{
    color: #fff;
    max-width:300px;
    font-family: 'Montserrat Regular', serif;
    font-weight: 700;
    font-size: 13px !important;
    line-height: 26px;
    text-transform: uppercase;
    padding: 13px 5px;
}
/*** TERTIARY ***/
ol.organizational-chart > li > ol > li > ol > li > div {
    background-color: #EEB13C;
    color: #fff;
    max-width:250px;
    font-family: 'Montserrat Regular', serif;
    font-weight: 600;
    font-size: 12px;
    padding: 13px 5px;
}

/*** QUATERNARY ***/
ol.organizational-chart > li > ol > li > ol > li > ol > li > div {
    background-color: #F3F6FC;
    border: 1px solid #002C52;
 
  max-width:200px;
  font-family: 'Montserrat Regular', serif;
  font-weight: 400;
  font-size: 12px;
}
ol.organizational-chart > li > ol > li > ol > li > ol > li > div > a{
    color: #002C52;
}
ol.organizational-chart > li > ol > li > ol > li > ol > li > div > a:hover{
    color: #002C52;
}
/*** QUINARY ***/
ol.organizational-chart > li > ol > li > ol > li > ol > li > ol > li > div {
    background-color: #fddc32;
  
}

ol.organizational-chart > li > div:before,
ol.organizational-chart > li > div:after {
    bottom: 0 !important;
    top: inherit!important;
}

ol.organizational-chart > li > div:before {
    height: 100%;
    left: 50%!important;
    width: 3px!important;
}

ol.organizational-chart > li > div > a.line::before {
    content: '';
    position: absolute;
    background-color: #b7a6aa;
    display: inline-block;
    width: 100%;
    top: 50%!important;
    height: 3px!important;
    left:0;
}
ol.organizational-chart > li > div > div > a.top-inline::after,
ol.organizational-chart > li > div > div > a.top-inline::before {
    content: '';
    position: absolute;
    background-color: #b7a6aa;
    display: inline-block;
}
ol.organizational-chart > li > div > div > a.top-inline::before{
    width: 3px;
    height: 2em;
    right:0;
    bottom: 0;
}

ol.organizational-chart > li > div > div > a.top-inline::after{
    width: 2em;
    height: 3px;
    right:0;
    bottom: 2em;
}

ol.organizational-chart > li > div > div > a.center-inline::after,
ol.organizational-chart > li > div > div > a.center-inline::before {
    content: '';
    position: absolute;
    background-color: #b7a6aa;
    display: inline-block;
}
ol.organizational-chart > li > div > div > a.center-inline::before{
    width: 3px;
    height: 4em;
    right:0;
    bottom: 0;
}

ol.organizational-chart > li > div > div > a.center-inline::after{
    width: 2em;
    height: 3px;
    right:0;
    bottom: 23px;
}

ol.organizational-chart > li > div > div > a.bottom-inline::after,
ol.organizational-chart > li > div > div > a.bottom-inline::before {
    content: '';
    position: absolute;
    background-color: #b7a6aa;
    display: inline-block;
}
ol.organizational-chart > li > div > div > a.bottom-inline::before{
    width: 3px;
    height: 1em;
    right:0;
    top: 0;
}

ol.organizational-chart > li > div > div > a.bottom-inline::after{
    width: 2em;
    height: 3px;
    right:0;
    bottom: 2em;
}

ol.organizational-chart > li > div > div > a.bottom-inline-right::after,
ol.organizational-chart > li > div > div > a.bottom-inline-right::before {
    content: '';
    position: absolute;
    background-color: #b7a6aa;
    display: inline-block;
}
ol.organizational-chart > li > div > div > a.bottom-inline-right::before{
    width: 3px;
    height: 2em;
    left:0;
    top: 0;
}

ol.organizational-chart > li > div > div > a.bottom-inline-right::after{
    width: 2em;
    height: 4px;
    left:0;
    top: 2em;
}

ol.organizational-chart > li > div > div > a.top-inline-right::after,
ol.organizational-chart > li > div > div > a.top-inline-right::before {
    content: '';
    position: absolute;
    background-color: #b7a6aa;
    display: inline-block;
}
ol.organizational-chart > li > div > div > a.top-inline-right::before{
    width: 3px;
    height: 2em;
    left:0;
    bottom: 0;
}

ol.organizational-chart > li > div > div > a.top-inline-right::after{
    width: 2em;
    height: 3px;
    left:0;
    bottom: 2em;
}

ol.organizational-chart > li > div > div > a.center-inline-right::after,
ol.organizational-chart > li > div > div > a.center-inline-right::before {
    content: '';
    position: absolute;
    background-color: #b7a6aa;
    display: inline-block;
}
ol.organizational-chart > li > div > div > a.center-inline-right::before{
    width: 3px;
    height: 100%;
    left: 0;
    bottom: 0;
}

ol.organizational-chart > li > div > div > a.center-inline-right::after{
    width: 2em;
    height: 3px;
    left:0;
    bottom: 23px;
}

/*** MEDIA QUERIES ***/
@media only screen and ( min-width: 45em ) {

    ol.organizational-chart {
        margin-left: -1em;
        margin-right: -1em;
    }

    /* PRIMARY */
    ol.organizational-chart > li > div {
        display: inline-block;
        float: none;
        vertical-align: bottom;
    }

    ol.organizational-chart > li > div:only-of-type {
        margin-bottom: 0;
        width: 100%;
    }

    ol.organizational-chart > li > div:first-of-type:nth-last-of-type(2),
    ol.organizational-chart > li > div:first-of-type:nth-last-of-type(2) ~ div {
        width: calc((100% / 2) - 2em - 4px);
    }

    ol.organizational-chart > li > div:first-of-type:nth-last-of-type(3),
    ol.organizational-chart > li > div:first-of-type:nth-last-of-type(3) ~ div {
        width: calc((100% / 3) - 2em - 4px);
    }

    ol.organizational-chart > li > div:first-of-type:nth-last-of-type(4),
    ol.organizational-chart > li > div:first-of-type:nth-last-of-type(4) ~ div {
        width: calc((100% / 4) - 2em - 4px);
    }

    ol.organizational-chart > li > div:first-of-type:nth-last-of-type(5),
    ol.organizational-chart > li > div:first-of-type:nth-last-of-type(5) ~ div {
        width: calc((100% / 5) - 2em - 4px);
    }



    ol.organizational-chart > li > div:only-of-type:after {
        display: none;
    }

    ol.organizational-chart > li > div:first-of-type:not(:only-of-type):after,
    ol.organizational-chart > li > div:last-of-type:not(:only-of-type):after {
        bottom: -1em;
        height: 3px;
        width: calc(50% + 1em + 3px);
    }

    ol.organizational-chart > li > div:first-of-type:not(:only-of-type):after {
        left: calc(50% + 3px);
    }

    ol.organizational-chart > li > div:last-of-type:not(:only-of-type):after {
        left: calc(-1em - 3px);
    }

    ol.organizational-chart > li > div + div:not(:last-of-type):after {
        height: 3px;
        left: -2em;
        width: calc(100% + 4em);
    }

    /* SECONDARY */
    ol.organizational-chart > li > ol {
        display: flex;
        flex-wrap: nowrap;
    }

    ol.organizational-chart > li > ol:before,
    ol.organizational-chart > li > ol > li:before {
        height: 1em!important;
        left: 50%!important;
        top: 0!important;
        width: 3px!important;
    }

    ol.organizational-chart > li > ol:after {
        display: none;
    }

    ol.organizational-chart > li > ol > li {
        flex-grow: 1;
        padding-left: 1em;
        padding-right: 1em;
        padding-top: 1em;
    }

    ol.organizational-chart > li > ol > li:only-of-type {
        padding-top: 0;
    }

    ol.organizational-chart > li > ol > li:only-of-type:before,
    ol.organizational-chart > li > ol > li:only-of-type:after {
        display: none;
    }

    ol.organizational-chart > li > ol > li:first-of-type:not(:only-of-type):after,
    ol.organizational-chart > li > ol > li:last-of-type:not(:only-of-type):after {
        height: 3px;
        top: 0;
        width: 50%;
    }

    ol.organizational-chart > li > ol > li:first-of-type:not(:only-of-type):after {
        left: 50%;
    }

    ol.organizational-chart > li > ol > li:last-of-type:not(:only-of-type):after {
        left: 0;
    }

    ol.organizational-chart > li > ol > li + li:not(:last-of-type):after {
        height: 3px;
        left: 0;
        top: 0;
        width: 100%;
    }

}

@media (max-width: 991px){
    .main-button{
        font-size: 13px;
    }
    ol.organizational-chart > li > ol > li > div {
        font-size: 8px;
    }
    ol.organizational-chart > li > ol > li > ol > li > div {
        font-size: 11px;
    }
    ol.organizational-chart > li > ol > li > ol > li > ol > li > div{
        font-size: 11px;
    }
    .rector-img{
        width: 160px;
        min-height: 220px;
    }
    .rector-img .text .name{
        font-size: 9px;
    }
    .rector-img .text .title{
        font-size: 12px;
        line-height: 15px;    
    }
}

/****************** faculty-block **********/

.faculty-block{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.faculty-item{
    font-size: 13px;
    font-family: 'Montserrat Regular', serif;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin: 10px;
    background-color: #F3F6FC;
    border: 1px solid #002C52;
}
.faculty-item{
    padding: 2px;
    margin: 5px;
}

.news .profile-box{
    width: 100% !important;
    padding: 30px !important;
}
.news .last-news{
    margin-top: 50px;
}

.news-block .section-content{
    padding: 20px;
}
.news-block .section-content .title{
    border-bottom: 2px solid #CCC;
    font-size: 1.5rem;
    padding-bottom: 5px;
}

.news-list {
    list-style-type: none;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 20px;
    column-gap: 20px;
    padding: 0;
    margin-top: 25px;
}

.news-list-item{
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 0px 0 rgba(0, 3, 3, 3.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
}

.news-list .news-list-item .image {
   height:200px;
}

.news-list .news-list-item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news-list .news-list-item .date {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 7px 0;
}

.news-list .news-list-item .date span {
    font-family: 'Montserrat Light','sans-serif';
    font-weight: 400;
    font-size: 12px;
    color: #687589;
}

.news-list .news-list-item .news-title {
    font-family: 'PT Serif Bold','sans-serif';
    font-size: 15px;
    line-height: 18px;
    color: #002C52;
}

.news-list-item .more-link{
    font-family: 'PT Serif Regular','sans-serif';
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #002C52;
    text-transform: lowercase;
    text-decoration: underline;
    text-align: right;
}

.news-list .news-list-item .text {
    font-family: 'Montserrat Regular','sans-serif';
    font-size: 12px;
    line-height: 15px;
    color: #000;
}

/*.page {*/
/*    display: none;*/
/*}*/

.page-active {
    display: block;
}

.pagination .active {
    background-color: #687589;
}

.page-item.active .page-link{
    z-index: 4 !important;
    color: #002c52 !important;
    background-color: #fff !important;
    border-color: #002c52 !important;
}

.pagination li {
    display: inline-block;
    margin: 0 5px;
}

.pagination li .page-link {
    padding: 8px;
    font-size: 1rem;
    line-height: 0.5;
    background-color: #002C52;
    color: #fff;
    border: 1px solid #002C52;
}

.pagination li .page-link .fas {
    line-height: 0.5;
}

.faculties{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
.faculty-item{
    background-color: #F3F6FC;
    margin: 10px;
    border-radius: 5px;
}

.faculty-item a{
    text-decoration: none;
    color: #002C52 !important;
    padding: 15px 10px;
    display: block;
}
.faculty-item a:hover{
    text-decoration: none;
    color: #fff;
}
.align-items-center {
    -ms-flex-align: center !important;
    align-items: center !important;
}
.justify-content-center{
    -ms-flex-pack: center !important;
    justify-content: center !important;
}
.w-100{
    width: 100% !important;
}

.position-relative {
    position: relative !important;
}
.d-block {
    display: block !important;
}
.flex-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
}
.align-items-center
 {
    -ms-flex-align: center !important;
    align-items: center !important;
}

.flex-column {
    -ms-flex-direction: column !important;
    flex-direction: column !important;
}
.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}
.pl-4, .px-4 {
    padding-left: 1.5rem !important;
}

.pr-4, .px-4 {
    padding-right: 1.5rem !important;
}
.pb-2, .py-2 {
    padding-bottom: 0.5rem !important;
}
@media screen and (max-width: 992px) {
    .news-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    .news-list .news-list-item {
        padding-bottom: 20px;
        border-bottom: 1px solid #BFD1EC;
    }
    .news-list .news-list-item .image {
        max-width: none;
        width: 100%;
    }
}

.left-button{
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

@media screen and (max-width: 768px) {
    .pagination li {
        margin: 0 3px;
    }
    .pagination li .page-link {
        padding: 6px;
        font-size: 0.7rem;
    }

    ol.organizational-chart > li > div > div > a.top-inline::before{
        left:0;
    }
    ol.organizational-chart > li > div > div > a.top-inline::after{
        left:0;
    }
    ol.organizational-chart > li > div > div > a.center-inline::before{
        height: 100%;
        left:0;
    }

    ol.organizational-chart > li > div > div > a.center-inline::after{
        left:0;
    }

    ol.organizational-chart > li > div > div > a.bottom-inline::before{
        height: 100%;
        left:0;
    }

    ol.organizational-chart > li > div > div > a.bottom-inline::after{
        left:0;
    }

    ol.organizational-chart > li > div > a.line{
        padding-bottom: 10px;
    }

    ol.organizational-chart > li > div > a.line::before {
        width: 50%;
    }

    ol.organizational-chart > li > div > a.line::after {
        content: '';
        position: absolute;
        background-color: #b7a6aa;
        display: inline-block;
        height: 100%;
        top: 0;
        width: 3px!important;
        left:0;
    }

    ol.organizational-chart > li > div > div > a.top-inline-right::before{
        height: 100%;
    }

    ol.organizational-chart > li > ol:after {
        left: 0;
        width: 60%;
    }
    ol.organizational-chart > li > ol:before {
        left: 60%;
    }
    .main-button{
        padding: 10px 5px;
    }
    ol.organizational-chart > li > div:before {
        left: 60%!important;
    }
    .structure-header{
        flex-wrap: wrap;
    }

    .left-button{
        padding-right: 0;
    }
    .green-button{
        line-height: 17px;
        font-size: 14px;
    }

}

@media screen and (max-width: 450px) {
    .pagination li {
        margin: 0 1px;
    }
    .pagination li .page-link {
        padding: 3px;
        font-size: 0.3rem;
    }
}

.profile-box
 {
    width: 1050px;
    margin: 50px auto !important;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #FFF;
    padding-left: 40px;
    padding-right: 20px;
}
.profile-box .left-side {
    background-color: #002C52;
    color: #FFF;
    padding: 40px 20px;
}
.profile-box .left-side .profile-info {
    padding: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: #FFF;
    width: auto;
    max-width: 200px;
    margin: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    color: #444;
    text-align: center;
}
.profile-box .contact-box {
    display: flex;
    padding: 10px 0;
}
.profile-box .contact-box .icon i {
    padding: 10px;
    border: 1px solid #FFF;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    text-align: center;
}
.icon {
    padding: 10px;
    color: unset;
    font-size: unset;
    transition: unset;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px) {
    .col-md-4 {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media (min-width: 768px) {
    .col-md-8 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

.rit-cover .hotkey {
    text-align: right;
    padding: 30px 20px;
}
.rit-cover .hotkey h1
 {
    width: 100%;
    text-align: right;
    color: #c7c2c2;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
h5, .h5 {
    font-size: 1.25rem;
}
.text-content {
    font-family: 'PT Serif Regular', 'sans-serif';
    font-size: 15px;
}
.list {
    list-style-type: disc;
    padding-left: 20px;
}
.pt-4, .py-4 {
    padding-top: 1.5rem !important;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.grid-2 {
    display: grid;
    grid-template-columns: 50% 50%;
}
.employee {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 20px 0;
}
.employee img {
    width: 100px;
    border-radius: 6px;
    height: auto;
    object-fit: cover;
}
.employee-info {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 70%;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}