@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';
@source "../views";

@layer base {
    @font-face {
    font-family: "Inter Bold";
    src: url("/fonts/Inter_Bold.ttf") format('truetype');
}
@font-face {
    font-family: "SF-Pro-Display-Regular";
    src: url("/fonts/SF-Pro-Display-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Montserrat-Bold";
    src: url("/fonts/Montserrat-Bold.ttf") format('truetype');
}
}

@theme {
    --font-sans: 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
        --font-inter: "Inter Bold";
    --font-sf: "SF-Pro-Display-Regular"; 
    --color-primary: #003163;
    --color-secondary: #b08968;
}

.hero-gradient{
  background: linear-gradient(90deg, #F0F2F5 30%, rgba(255, 255, 255, 0) 100%);
}
.short-gradient{
  background: linear-gradient(90deg, #F0F2F5 24%, rgba(255, 255, 255, 0) 60%);
}
.tiptap-content table {
  border-collapse: collapse;
  overflow: hidden;
  width: 100% !important;
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.tiptap-content table td,
table th {
    border: 1px solid theme("colors.gray.400");
    min-width: 1em;
    padding: 10px;
    vertical-align: top;
    background-clip: padding-box
}

.tiptap-content table td > *,
table th > * {
    margin-bottom: 0;
}

.tiptap-content table th {
    background-color: theme("colors.gray.200");
    color: theme("colors.gray.700");
    font-weight: 700;
    text-align: left;
}

.tiptap-content details{
    border: 1px solid theme("colors.gray.400");
    border-radius: 8px;
    color: inherit;
    font: inherit;
    width: 100%;
}
.tiptap-content summary{
  padding: 10px;
}

[data-type="details-content"] p {
  padding: 10px;
  /* border-top: 1px solid theme("colors.gray.400"); */
}

summary::marker {
  color: #003163; /* красная стрелка */
  font-size: 1.2em;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tiptap-content {
 p{
    margin-top: 10px;
    margin-bottom: 10px;
}
 ul {
      list-style: disc;
      margin: 0;
      padding: 5px;
      padding-left: 50px;
  }
  ol {
      list-style: decimal;
      margin: 0;
      padding: 5px;
      padding-left: 50px;
  }

a{
  text-decoration: underline;
  color: #003163 !important;
  font-weight: 600;
}
img {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bold;
    font-family: "Inter Bold";
    margin: 10px;
}

h1 {
    font-size: 1.75rem;
    line-height: 1.1;
}

h2 {
    font-size: 1.5rem;
    line-height: 1.1;
}

h3 {
    font-size: 1.25rem;
    line-height: 1.25;
}

h4 {
    font-size: 1.125rem;
}

.lead {
    font-size: 1.375rem;
    line-height: 1.3;
}

small {
    font-size: 0.75rem;
}

.content ul,
.content ol {
    @apply space-y-2;
    padding-inline-start: 1rem;
    margin-inline-start: 1rem;
}

.content ul {
    list-style: disc;
}

.content ol {
    list-style: decimal;
}

.content ul.checked-list {
    list-style-type: none;
    margin-inline-start: 0;
}

.content ul.checked-list li {
    display: flex;
    align-items: baseline;
    gap: 0.375em;
}

.content ul.checked-list li::before {
    content: '✓';
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
}

hr {
    border-color: theme("colors.gray.400");
}


sup {
    font-size: 65%;
}

img {
    border-radius: 10px;
}

table {
    border-collapse: collapse;
    margin: 0;
    overflow: hidden;
    table-layout: auto !important;
    width: 100%;
    position: relative;
}

table td,
table th {
    border: 1px solid theme("colors.gray.400");
    min-width: 1em;
    padding: 3px 5px;
    vertical-align: top;
    background-clip: padding-box
}

table td > *,
table th > * {
    margin-bottom: 0;
}

table th {
    background-color: theme("colors.gray.200");
    color: theme("colors.gray.700");
    font-weight: 700;
    text-align: left;
}

table .selectedCell {
    position: relative;
}

table .selectedCell:after {
    background: rgba(200, 200, 255, 0.4);
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    pointer-events: none;
    position: absolute;
    z-index: 2;
}

table .column-resize-handle {
    background-color: #adf;
    bottom: -2px;
    position: absolute;
    right: -2px;
    pointer-events: none;
    top: 0;
    width: 4px;
}

table p {
    margin: 0;
}

.tableWrapper {
    padding: 1rem 0;
    overflow-x: auto;
}

.resize-cursor {
    cursor: col-resize;
}

pre {
    padding: .75rem 1rem;
    border-radius: .25rem;
    font-size: .875rem;
}

code {
    background-color: theme("colors.gray.300");
    border-radius: 0.25rem;
    padding-inline: 0.25rem;
}

pre.hljs code {
    background-color: transparent;
}

}
.filament-tiptap-hurdle {
  width: 100%;
  max-width: 100vw;
  padding-block: 1rem;
  background-color: theme('colors.gray.800');
  position: relative;

  &::before,
  &::after {
      content: '';
      position: absolute;
      display: block;
      width: 100%;
      top: 0;
      bottom: 0;
      background-color: inherit;
  }

  &::before {
      left: -100%;
  }

  &::after {
      right: -100%;
  }

}

blockquote {
  border-left: 0.25rem solid theme("colors.gray.400");
  padding-inline-start: 0.5rem;
  margin-inline-start: 1rem;
  font-size: 1.25rem;
}

.filament-tiptap-grid,
.filament-tiptap-grid-builder {
  display: grid;
  gap: 1rem;
  box-sizing: border-box;

  .filament-tiptap-grid__column,
  .filament-tiptap-grid-builder__column {
      box-sizing: border-box;
      padding: 0.5rem;

      > * + * {
          margin-block-start: 1rem;
      }
  }

  &.ProseMirror-selectednode {
      border-radius: theme("borderRadius.DEFAULT");
      outline-offset: 2px;
      outline: theme("colors.gray.900") dashed 2px;
  }
}

.filament-tiptap-grid[type^="asymetric"] {
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

@media (max-width: theme('screens.sm')) {
  .filament-tiptap-grid-builder[data-stack-at="sm"] {
      grid-template-columns: 1fr !important;

      .filament-tiptap-grid-builder__column {
          grid-column: span 1 !important;
      }
  }
}

@media (max-width: theme('screens.md')) {
  .filament-tiptap-grid-builder[data-stack-at="md"] {
      grid-template-columns: 1fr !important;

      .filament-tiptap-grid-builder__column {
          grid-column: span 1 !important;
      }
  }
}

@media (max-width: theme('screens.lg')) {
  .filament-tiptap-grid-builder[data-stack-at="lg"] {
      grid-template-columns: 1fr !important;

      .filament-tiptap-grid-builder__column {
          grid-column: span 1 !important;
      }
  }
}

.filament-tiptap-grid[type="asymetric-right-thirds"] {
  @screen md {
      grid-template-columns: 1fr 2fr;
  }
}

.filament-tiptap-grid[type="asymetric-left-thirds"] {
  @screen md {
      grid-template-columns: 2fr 1fr;
  }
}

.filament-tiptap-grid[type="asymetric-right-fourths"] {
  @screen md {
      grid-template-columns: 1fr 3fr;
  }
}

.filament-tiptap-grid[type="asymetric-left-fourths"] {
  @screen md {
      grid-template-columns: 3fr 1fr;
  }
}

.filament-tiptap-grid[type="responsive"] {
  grid-template-columns: 1fr;
  grid-template-rows: auto;

  &[cols="2"] {
      @screen md {
          grid-template-columns: repeat(2, 1fr);
      }
  }

  &[cols="3"] {
      @screen md {
          grid-template-columns: repeat(3, 1fr);
      }
  }

  &[cols="4"] {
      @screen md {
          grid-template-columns: repeat(2, 1fr);
      }

      @screen lg {
          grid-template-columns: repeat(4, 1fr);
      }
  }

  &[cols="5"] {
      @screen md {
          grid-template-columns: repeat(5, 1fr);
      }
  }
}
.filament-tiptap-grid-builder, blockquote, details, table {
  margin-top: 15px;
  margin-bottom: 15px;
}
.pswp__item img{
  object-fit: contain;
}

.tiptap-content details {
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    cursor: pointer;
}