@import '../../../../vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';

.fi-sidebar {
    background-color: #2e363e !important;
}
.fi-sidebar-item-active .fi-sidebar-item-button {
    background-color: #80C342 !important;  
}
.fi-sidebar-item-button:hover {
    background-color: #80C342 !important;
}
.fi-sidebar-item-icon{
    @apply text-white !important;
}
.fi-sidebar-item-label{
    @apply text-white !important;
}
.fi-sidebar-group-label{
    @apply text-gray-300 !important;
}
.fi-logo{
    @apply text-amber-700 !important;
}
.fi-ta-text-item{
    white-space: normal;
}